.topicDetail{
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;
}
.Topbar {
  height: 48px;
  padding: 0px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #263238;
  box-sizing: border-box;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items:center;
  z-index: 999;
}
.Topbar-arrow {
  width: 30px;
}
.Topbar-content {
  flex: 1;
}
.DisqusList {
  height: 100%;
  position: relative;
  top: 48px;
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;
}