.PublicTabbar {
  width: 100%;
  height: 48px;
  position: fixed;
  bottom: 0%;
  color: #ffffff;
  background: #37474f;
  display: flex;
}

.TabbarItem {
  flex: 1;
  line-height: 48px;
  color: #ffffff;
  text-decoration: none;
}

.selected {
  color:#66bb6a;
}
