.user {
  width: 100%;
  position: fixed;
  top: 48px;
  left: 0px;
  bottom: 48px;
  text-align: center;
  background: #f0f0f0;
}

.accesstoken {
  width: 80%;
  height: 40px;
  line-height: 40px;
  position: fixed;
  top: 10%;
  left: 10%;
}

.accesstoken-input {
  width: 50%;
  overflow-x: auto;
  border: none;
  font-size: 1.0rem;
}

.accesstoken-input > :focus {
  border-bottom: 2px solid #424242;
}

.login {
  width: 80%;
  height: 40px;
  position: fixed;
  top: 20%;
  left: 10%;
  font-size: 1.2rem;
  color: #ffffff;
  background: #424242;
}

.User-author-image {
  width: 100%;
  height: 39%;
  padding-top: 5%;
  background: #424242;
}

.User-image {
  border-radius: 100%;
}

.User-loginname {
  font-size: 1.1rem;
  color: #ffffff;
}

.User-list {
  width: 100%;
  height: 150px;
  display: flex;
  position: fixed;
  top: 32%;
  flex-direction: column;
  background: #ffffff;
}

.User-listItem {
  width: 100%;
  flex: 1;
  line-height: 50px;
  font-size: 1.1rem;
  text-align: left;
  padding-left: 15px;
  border-bottom: 0.5px solid #424242;
  box-sizing: border-box;
}

.bradge {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin-top: 10px;
  font-size: 1.1rem;
  border-radius: 15px;
  background: #ff4081;
  box-sizing: border-box;
  float: right;
}

.link {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin-top: 10px;
  font-size: 1.1rem;
  border-radius: 15px;
  box-sizing: border-box;
  float: right;
}

.loginOut {
  width: 80%;
  height: 40px;
  position: fixed;
  top: 60%;
  left: 10%;
  font-size: 1.2rem;
  color: #ffffff;
  background: #424242;
}